:root {
    --playfair-font: "Playfair Display", serif;
    --playball-font: "Playball", cursive;
    --agaleoz-font: "Agaleoz", sans-serif;
    --larken-font: "Larken DEMO", serif;
    --belina-font: 'Bellina', serif;
    --hdrTop-bg: #c8a77f;
    --active-txt-color: #f2dec5;
    --primary-color: #ffffff;
    --secondary-color: #FAEAD7;
    --tertiary-color: #F1DABF;
    --card-txt-color: #D9CEC1;
    --border-color: #E5D1B9;
    --duration: 3s;
    --shine-angle: 90deg;
    --shine-color: rgba(255, 255, 255, 0.4);
    --shine-background: linear-gradient(var(--shine-angle),
            rgba(255, 255, 255, 0) 0%,
            var(--shine-color) 50%,
            rgba(255, 255, 255, 0) 100%);

    --page-prinary-color: #F4E3CE;

    --animation-duration: 12s;
    --services-totalItems: 3;
    --page-secondary-color: #FDDFBC;
    --shop-animation-duration: 20s;
    --shop-services-totalItems: 5;
    --shop-primary-color: #F3E8DB;
    --shop-secondary-color: #7D4400;
}

body {
    font-family: var(--larken-font);
    background: url(../assets/page/body-bg.png) no-repeat center/cover;
}

.blog-miniContainer {
    max-width: 1664px;
}

/* Blog Section */
.blog-sec {
    padding: 106px 0 44px;
    margin-top: 137px;
}



.blog-box {
    margin: 0 auto;
}

.blog-img {
    max-width: 757px;
    border: 1px solid var(--border-color);

}

.readMore-btnBox {
    position: relative;

}

.read-more {
    padding: 27.5px 22.5px;
    text-transform: capitalize;
    border-radius: 100px;
    background: #3F2505;
    color: var(--border-color);
    font-size: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 1px solid var(--border-color);
    outline: 20px solid black;
    display: flex;
    align-items: center;
    overflow: hidden;
    z-index: 1;
}

.read-more>span:nth-child(2) {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: var(--border-color);
    color: #6C3F0A;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-45deg);
    z-index: 2;
    transition: 1s ease;
    font-size: 20px;
}

.read-more>span:nth-child(1) {
    margin-right: 12px;
    position: relative;
    z-index: 2;
}


.readMore-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: var(--tertiary-color);
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 1;

}


.read-more:hover .readMore-circle {
    width: 100%;
    height: 100%;
    border-radius: 100px;
    opacity: 1;
}

.read-more:hover {
    color: #3F2505;
}

.read-more:hover span:nth-child(2) {
    transform: rotate(360deg);
    background: #3F2505;
    color: var(--border-color);
}

.blog-cntn {
    margin-top: 29px;
    color: var(--tertiary-color);
}

.blog-cntn>P:nth-child(1) {
    font-size: clamp(1rem, 2vw, 1.54rem);
    margin-bottom: 14px;
}

.blog-cntn>p:nth-child(2) {
    font-size: clamp(1.3rem, 2.3vw, 2.23rem);
}

/* Recent Blog Section */
.recentBlog-sec {
    margin-bottom: 60px;
}

.moreBlog-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../assets/blog/blog-bg.png) no-repeat center/cover;
    padding: 63px 0;
}

.recentBlog-cntn {
    text-align: center;
}

.blogTitile-1 {
    font-size: clamp(1.4rem, 3vw, 3.08rem);
    color: #FDEEDD;
    margin-bottom: 45px;
    border-bottom: 1px solid #FDEEDD;
    letter-spacing: 0.2em;
}

.readMore-btn2 {
    position: relative;
    padding: 27.5px 22.5px;
    text-transform: capitalize;
    border-radius: 100px;
    background: linear-gradient(to bottom, rgba(76, 51, 22, 0.5), rgba(210, 161, 104, 0.5));
    color: var(--border-color);
    font-size: 20px;
    border: 1px solid var(--border-color);
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    z-index: 1;
    transition: color 0.4s ease;
}

.readMore-btn2>span:nth-child(1) {
    margin-right: 12px;
    position: relative;
    z-index: 2;
}

.readMore-btn2>span:nth-child(2) {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: var(--border-color);
    color: #6C3F0A;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-45deg);
    z-index: 2;
    transition: all 0.8s ease;
    font-size: 20px;
}

.readMore-circle2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background: linear-gradient(to bottom, rgba(76, 51, 22, 0.7), rgba(210, 161, 104, 0.7));
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 1;
}

.readMore-btn2:hover .readMore-circle2 {
    width: 100%;
    height: 100%;
    border-radius: 100px;
    opacity: 1;
}

.readMore-btn2:hover {
    color: #36230c;
}

.readMore-btn2:hover span:nth-child(2) {
    transform: rotate(-360deg);
    background: #4C3316;
    color: #D2A168;

}

@media screen and (max-width:576px) {

    /* Blog Section */
    .read-more {
        padding: 12px;
        font-size: 18px;
        outline: 10px solid black;
    }

    .readMore-btn2 {
        padding: 12px;
        font-size: 18px;

    }

    .read-more>span:nth-child(2),
    .readMore-btn2>span:nth-child(2) {
        font-size: 18px;
    }
}